@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Emrah Okic</h3>

<address>
    BiH<br />
    Mostar<br />
    <abbr title="Phone">P:</abbr>
    +387 61248777
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:emrah.okic@edu.fit.ba">emrah.okic@edu.fit.ba</a><br />
</address>